<ion-list *ngIf="!admin; else noAdmin">
  <ion-item *ngFor="let item of items" [routerLink]="[item.id]">
    <ion-thumbnail slot="start">
      <ion-img [src]="item.foto"></ion-img>
    </ion-thumbnail>
    <ion-grid>
      <ion-row>{{ item.merek }} {{ item.nama }}</ion-row>
      <ion-row>Harga : {{ item.harga | currency: "Rp " }}</ion-row>
      <ion-row>Tersedia : {{ item.stok }}</ion-row>
    </ion-grid>
  </ion-item>
</ion-list>

<ng-template #noAdmin>
  <ion-item
    *ngFor="let item of items"
    (click)="handler.emit({ itemId: item.id })"
  >
    <ion-thumbnail slot="start">
      <ion-img [src]="item.foto"></ion-img>
    </ion-thumbnail>
    <ion-grid>
      <ion-row>{{ item.merek }} {{ item.nama }}</ion-row>
      <ion-row>Harga : {{ item.harga | currency: "Rp " }}</ion-row>
      <ion-row>Tersedia : {{ item.stok }}</ion-row>
    </ion-grid>
  </ion-item>
</ng-template>
