<ion-list *ngIf="!admin && items">
  <ion-item *ngFor="let item of items" [routerLink]="[item.id]">
    <ion-thumbnail slot="start">
      <ion-img [src]="item.foto"></ion-img>
    </ion-thumbnail>
    <ion-grid>
      <ion-row>{{ item.merek }} {{ item.nama }}</ion-row>
      <ion-row>Harga : {{ item.harga | currency: "Rp " }}</ion-row>
      <ion-row>Tersedia : {{ item.stok }}</ion-row>
    </ion-grid>
  </ion-item>
</ion-list>

<ion-list *ngIf="admin && items">
  <ion-item-sliding *ngFor="let item of items" #slider>
    <ion-item-options (ionSwipe)="deleteItem(item.id, slider)" side="end">
      <ion-item-option color="danger" (click)="deleteItem(item.id, slider)">
        <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
      </ion-item-option>
    </ion-item-options>

    <ion-item-options (ionSwipe)="selectItem(item.id, slider)" side="start">
      <ion-item-option (click)="selectItem(item.id, slider)">
        <ion-icon name="checkmark-outline" slot="icon-only"></ion-icon>
      </ion-item-option>
    </ion-item-options>

    <ion-item
      [ngStyle]="{
        color: isSelected(item.id) ? 'blue' : 'white'
      }"
      (click)="handler.emit({ itemId: item.id })"
    >
      <ion-thumbnail slot="start">
        <ion-img [src]="item.foto"></ion-img>
      </ion-thumbnail>
      <ion-grid>
        <ion-row>{{ item.merek }} {{ item.nama }}</ion-row>
        <ion-row>Harga : {{ item.harga | currency: "Rp " }}</ion-row>
        <ion-row>Tersedia : {{ item.stok }}</ion-row>
      </ion-grid>
    </ion-item>
  </ion-item-sliding>
</ion-list>
