<app-header
  *ngIf="!isThereSelectedItems() && display === 'list'"
  [icons]="['grid-outline','add-outline']"
  (handler)="eventHandler($event)"
  >Admin</app-header
>

<app-header
  *ngIf="!isThereSelectedItems() && display === 'grid'"
  [icons]="['list-outline','add-outline']"
  (handler)="eventHandler($event)"
  >Admin</app-header
>

<app-header
  *ngIf="isThereSelectedItems()"
  [icons]="['trash-outline','close-outline']"
  (handler)="eventHandler($event)"
  >{{ getSelectedLength() }} Items Selected</app-header
>

<ion-content>
  <ion-content class="ion-padding">
    <app-loading-skeleton *ngIf="loading" [num]="17"></app-loading-skeleton>

    <app-items-list
      *ngIf="!loading  && display === 'list'"
      [items]="items"
      [admin]="true"
      (handler)="editHandler($event)"
    ></app-items-list>

    <app-items-grid
      *ngIf="!loading && display === 'grid'"
      [items]="items"
      [admin]="true"
      (handler)="editHandler($event)"
    ></app-items-grid>
  </ion-content>
</ion-content>
