<app-header
  *ngIf="display === 'list'"
  [icons]="['grid-outline']"
  (handler)="eventHandler($event)"
  >Home</app-header
>
<app-header
  *ngIf="display === 'grid'"
  [icons]="['list-outline']"
  (handler)="eventHandler($event)"
  >Home</app-header
>

<ion-content class="ion-padding">
  <app-loading-skeleton *ngIf="loading" [num]="5"></app-loading-skeleton>

  <app-items-list
    *ngIf="!loading && display === 'list'"
    [items]="items"
  ></app-items-list>

  <app-items-grid
    *ngIf="!loading && display === 'grid'"
    [items]="items"
  ></app-items-grid>
</ion-content>
